@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.landing-body {
	position: relative;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	height: 100vh;
	background-color: #06010d;
	
	text-align: center;
	
	overflow: hidden;
}

.press-start-background {
	position: absolute;
	inset: 0;
	z-index: 1;

	background: rgba(0, 0, 0, 0.7);
}

.press-start-background h1 {
	position: relative;
	top: 40%;
	
	border: 0;
	
	font-family: 'Press Start 2P', cursive;
	font-size: 4rem;
	color: #fff;
	text-shadow: 0px 0px 10px var(--pink);
	text-decoration: none;
	
	animation: 1s blink step-end infinite;
}

@keyframes blink {

	from,
	to {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}
}