.sections {
	display: flex;
	justify-content: center;

	min-height: auto;
	max-width: 100vw;

	overflow: hidden;
}

.wrapper {
	padding: 0 2rem;
	width: 100%;
}

.section-title-row {
	display: flex;
	justify-content: center;
	align-items: center;

	margin: 100px 0;
}

.section-title {
	z-index: 2;

	display: flex;
	justify-content: center;
	align-items: center;

	padding: 7px 35px;
	width: auto;
	border: 5px solid rgba(237, 008, 057, 0.8);
	border-radius: 50px;
	background-color: rgba(015, 010, 029, 1);

	font-size: 30px;
}

.section-title .blink-caret {
	font-size: 40px;
	font-weight: 900;
	
	transform: translateX(5px) translateY(-5px);
	animation: blinkCaret 1s step-end infinite;
}

.section-background-line {
	position: absolute;
	z-index: 1;

	width: 100%;
	height: 20px;
	background: linear-gradient(90deg,
			rgba(000, 000, 000, 0.1) 0%,
			rgba(237, 008, 057, 1) 50%,
			rgba(000, 000, 000, 0.1) 100%);
}

@keyframes blinkCaret {

	from,
	to {
		color: transparent;
	}

	50% {
		color: orange;
	}
}

@media (min-width:475px) {
	.wrapper {
		padding: 0 50px;
	}
}