.scroll_btn {
	position: absolute;
	bottom: 0;
	right: 50%;
	transform: translateX(50%);
	
	height: 100px;
	width: 50px;
	background-color: transparent;
	border: 3px solid var(--white);
	border-radius: 50px;
}