.experience-box-section::after {
  content: "";

  position: absolute;
  top: 0;
  left: 10px;
  z-index: -1;

  height: 100%;
  width: 4px;

  background: linear-gradient(180deg, var(--bg-color-cards) 75%, hsla(0, 0%, 0%, 0) 100%);
}

.experience-card {
  position: relative;

  padding: 10px 2rem;
  margin-bottom: 1rem;
  background-color: var(--bg-color-cards);
  border-radius: 0 10px 10px 10px;
}

.experience-card::before {
  content: "";
  position: absolute;
  inset: 0 auto 0 -53px;

  width: 1px;
  background-color: var(--bg-color-cards-light);
}

.experience-card::after {
  content: "";
  position: absolute;
  left: -19px;
  top: 0;

  max-width: 20px;
  max-height: 20px;
  border: 20px solid transparent;
  border-top: 20px solid var(--bg-color-cards);
}

.experience-card h3 {
  margin: auto;
  margin-bottom: 5px !important;
  padding: 5px 7px;
  width: fit-content;
  background-color: var(--dark-red);
  border-radius: 5px;
  box-shadow: 0 0 10px var(--black);

  text-align: center;
}

.experience-card i {
  color: hsla(360, 100%, 100%, 0.4);
  font-size: 14px;
}

.experience-card .card-ball {
  position: absolute;
  left: -67px;
  top: -15px;
  z-index: 5;

  width: 30px;
  height: 30px;
  background-color: var(--bg-color-cards-light);
  border-radius: 50%;
}

.experience-card:first-of-type h3 {
  width: min-content;
}

.experience-card:first-of-type .card-ball {
  left: -73px;
  top: -20px;

  width: 40px;
  height: 40px;
  background-color: var(--bg-color-cards-light);
  border: 4px solid var(--bg-color-cards-light);
}

.experience-card:first-of-type .card-ball::before {
  content: "";
  position: absolute;
  bottom: 50%;
  right: 50%;

  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 5px solid var(--bg-color-cards-light);

  translate: 50% 50%;
  animation: 1.5s pulse ease infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
    scale: 0.8;
  }

  100% {
    opacity: 0;
    scale: 1.5;
  }
}

@media (min-width: 420px) {
  .experience-card h3 {
    width: fit-content !important;
    margin: unset;
  }

  .experience-card span {
    display: block;
    margin-bottom: 0;
  }
}